- name: Unarchive a file that needs to be downloaded.
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/{{COMPONENT}}/archive/main.zip
    dest: /tmp
    remote_src: yes

- name: Remove exiting code
  ansible.builtin.file:
    path: "{{APP_LOCATION}}"
    state: absent
  when: APP_TYPE == "frontend" or APP_TYPE == "backend"